<header class="header--container">
  <div class="header--left">
    <img [routerLink]="['']" src="../../../assets/mainLogo.png" alt="asd" />
    <a [routerLink]="['']">Home</a>
    <a [routerLink]="['blog']">Blog</a>
    <a [routerLink]="['contact']">Contact</a>
  </div>
  <div class="header--right">
    <input placeholder="Search posts..." />
    <a class="header--right__auth" href='{{isLogin?"/login":"/create"}}'>
      <p>
        {{isLogin?"login":"Create a Post"}}
      </p>
    </a>
  </div>
</header>