<header class="header--container">
  <div class="header--left">
    <img [routerLink]="['']" src="../../../assets/mainLogo.png" alt="asd" />
    <a [routerLink]="['']">Home</a>
    <a [routerLink]="['blog']">Blog</a>
    <a *ngIf="!isLogin" [routerLink]="['my-blog']">My Blog</a>
  </div>
  <div class="header--right">
    <a class="header--right__auth" [routerLink]="isLogin ? '/login' : '/create'">
      <p>
        {{isLogin?"login":"Create a Post"}}
      </p>
    </a>
    <div *ngIf="!isLogin" class="user" (click)="handleClick()">
      <div class="user-image">
        <img src="../../../assets/ava.jpg" alt="">
        <span class="click-dropdown">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" strokeWidth={1.5} stroke="currentColor">
            <path strokeLinecap="round" strokeLinejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
          </svg>

        </span>
      </div>
      <div *ngIf="isActive" class="user-dropdown" (click)="handleLogOut()">
        <div class="dropdown-item">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="icon">
            <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 9V5.25A2.25 2.25 0 0013.5 3h-6a2.25 2.25 0 00-2.25 2.25v13.5A2.25 2.25 0 007.5 21h6a2.25 2.25 0 002.25-2.25V15m3 0l3-3m0 0l-3-3m3 3H9" />
          </svg>
          <p>log out</p>
        </div>
        <div class="dropdown-item" [routerLink]="['']">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" strokeWidth={1.5} stroke="currentColor" class="icon">
            <path strokeLinecap="round" strokeLinejoin="round" d="m2.25 12 8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25" />
          </svg>

          <p>Home</p>
        </div>
        <div class="dropdown-item" [routerLink]="['blog']">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" strokeWidth={1.5} stroke="currentColor" class="icon">
            <path strokeLinecap="round" strokeLinejoin="round" d="M12 6.042A8.967 8.967 0 0 0 6 3.75c-1.052 0-2.062.18-3 .512v14.25A8.987 8.987 0 0 1 6 18c2.305 0 4.408.867 6 2.292m0-14.25a8.966 8.966 0 0 1 6-2.292c1.052 0 2.062.18 3 .512v14.25A8.987 8.987 0 0 0 18 18a8.967 8.967 0 0 0-6 2.292m0-14.25v14.25" />
          </svg>

          <p>Blog</p>
        </div>
        <div class="dropdown-item" *ngIf="!isLogin" [routerLink]="['my-blog']">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" strokeWidth={1.5} stroke="currentColor" class="icon">
            <path strokeLinecap="round" strokeLinejoin="round" d="M12 6.042A8.967 8.967 0 0 0 6 3.75c-1.052 0-2.062.18-3 .512v14.25A8.987 8.987 0 0 1 6 18c2.305 0 4.408.867 6 2.292m0-14.25a8.966 8.966 0 0 1 6-2.292c1.052 0 2.062.18 3 .512v14.25A8.987 8.987 0 0 0 18 18a8.967 8.967 0 0 0-6 2.292m0-14.25v14.25" />
          </svg>

          <p>My Blog</p>
        </div>
      </div>
    </div>
  </div>
</header>
<lib-toastify-toast-container></lib-toastify-toast-container>