<div class="login">
  <img src="../../../assets/logo.png" alt="sAd" />

  <h1>
    Monkey Blogging
  </h1>
  <form class="login-form">
    <div class="login-container">
      <div class="login-text">
        <label htmlFor="userName">Name</label>
        <input id="userName" name="userName" placeholder="Enter your user name" [(ngModel)]="userName" />
      </div>
      <div class="login-text">
        <label htmlFor="email">Email</label>
        <input id="email" name="email" placeholder="Enter your email" [(ngModel)]="email" />
      </div>
      <app-input-password (passwordEvent)="setPassword($event)"></app-input-password>
      <p class="text-base">If you have an account?
        <a href="/login" class="link"> Sign In</a>
    </div>
    <div class="btn-container" (click)="handleSubmit()">
      <button type="submit">
        Sign Up
      </button>
    </div>
  </form>
</div>