<div class="login">
  <img src="../../../assets/logo.png" alt="sAd" />

  <h1>
    Monkey Blogging
  </h1>
  <form class="login-form">
    <div class="login-container">
      <app-input-text></app-input-text>
      <app-input-text></app-input-text>
      <app-input-password></app-input-password>
      <p class="text-base">If you have an account?<a class="link"> Sign In</a></p>
    </div>

    <div class="btn-container">
      <button type="submit">
        Sign Up
      </button>
    </div>
  </form>
</div>