<div class="login">
  <img src="../../../assets/logo.png" alt="sAd" />

  <h1>
    Monkey Blogging
  </h1>
  <form class="login-form">
    <div class="login-container">
      <app-input-text [name]="'Name'" [placeholder]="'Enter your name'"></app-input-text>
      <app-input-text [name]="'Email'" [placeholder]="'Enter your email'"></app-input-text>
      <app-input-password></app-input-password>
      <p class="text-base">If you have an account?
        <a href="/login" class="link"> Sign In</a>
    </div>
    <div class="btn-container">
      <button type="submit">
        Sign Up
      </button>
    </div>
  </form>
</div>