.login {
  max-width: 1440px;
  margin: 0 auto;
  padding: 30px;
  img {
    display: block;
    margin: 0 auto;
  }
  h1 {
    color: #2ebac1;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 80px;
    font-size: 28px;
    font-weight: 700;
  }
  .login-form {
    .login-container {
      max-width: 500px;
      margin: 0 auto;
      margin-bottom: 50px;
      .login-text {
        label {
          margin-bottom: 20px;
          display: block;
        }
        input {
          margin-bottom: 25px;
          width: 100%;
          border: 1px solid #ccc;
          outline: none;
          padding: 20px;
          border-radius: 8px;
          &:focus {
            border: 1px solid #00b4aa;
          }
        }
      }
    }
    .btn-container {
      width: 160px;
      height: 50px;
      margin: 0 auto;
      button {
        cursor: pointer;
        border: none;
        color: white;
        border-radius: 10px;
        width: 100%;
        height: 100%;
        display: block;
        background-image: linear-gradient(to right, #00a7b4, #a4d96c);
      }
    }
    .link {
      color: #2ebac1;
      cursor: pointer;
    }
    .error{
      background-color: rgba(255, 99, 71, 0.5);
      padding: 20px;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      margin-top: 10px;
      gap: 10px;
      p{
        color: red;
      }
    }
  }
}
