.home--news__item-container {
  width: 260px;
  border-radius: 8px;
  position: relative;

  .home--news__item-overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 8px;
  }
  .home--news__image {
    z-index: 0;
    border-radius: 8px;
    width: 100%;
    height: 100%;
    object-fit: fill;
  }
  .home--news__detail-wrapper {
    z-index: 10;
    position: absolute;
    inset: 0;
    padding: 15px 25px;
    color: white;
    .home--news__detail {
      display: flex;
      justify-content: space-between;

      align-items: center;
      margin-bottom: 12px;
      .home--news__category {
        display: flex;
        justify-content: center;
        align-items: center;
        width: fit-content;
        padding: 2px 6px;
        border-radius: 8px;
        color: gray;
        background-color: #fff;
      }
      .home--news__dateAndAuthor {
        display: flex;
        flex-direction: column;
        gap: 5px;
        font-size: 16px;
        justify-content: center;
        align-items: center;
        color: white;
      }
    }
    .home--news__item--title {
      font-size: 600;
      color: white;
    }
  }
}
