label {
  margin-bottom: 20px;
  display: block;
}
.input-container {
  position: relative;
  .input-text {
    margin-bottom: 24px;
    border: 1px solid #ccc;
    outline: none;
    padding-right: 60px;
    padding: 20px;
    border-radius: 8px;
    width: 100%;
    &:focus {
      border: 1px solid #00b4aa;
    }
  }
  .eye-container {
    position: absolute;
    right: 16px;
    top: 18px;
    cursor: pointer;
  }
}
