<section class="home--banner">
  <div class="home--container__text">
    <h1>Monkey Blogging</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
      eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
      minim veniam, quis nostrud exercitation ullamco laboris nisi.
    </p>
    <button>Get Start</button>
  </div>
  <img src="../../../assets/Illustration 2.png" alt="asd" />
</section>
<section class="home--news">
  <div class='home--news__text-container'>
    <h1>
      Newest update
    </h1>
  </div>
  <div class="home--news__items-container">
    <div class="home--news__item-container">
      <!-- <div class="home--news__item-overlay"></div> -->
      <img class="home--news__image" src="../../../assets/1.png" alt="asd" />
      <div class="home--news__detail-wrapper">
        <div class="home--news__detail">
          <div class="home--news__category">duc</div>
          <div class="home--news__dateAndAuthor">
            <div>23/10/2003</div>
            <div class='dot'></div>
            <div>duc</div>
          </div>
        </div>
        <h2 class="home--news__item--title">duc</h2>
      </div>
    </div>
    <div class="home--news__item-container">
      <!-- <div class="home--news__item-overlay"></div> -->
      <img class="home--news__image" src="../../../assets/1.png" alt="asd" />
      <div class="home--news__detail-wrapper">
        <div class="home--news__detail">
          <div class="home--news__category">duc</div>
          <div class="home--news__dateAndAuthor">
            <div>23/10/2003</div>
            <div class='dot'></div>
            <div>duc</div>
          </div>
        </div>
        <h2 class="home--news__item--title">duc</h2>
      </div>
    </div>
    <div class="home--news__item-container">
      <!-- <div class="home--news__item-overlay"></div> -->
      <img class="home--news__image" src="../../../assets/1.png" alt="asd" />
      <div class="home--news__detail-wrapper">
        <div class="home--news__detail">
          <div class="home--news__category">duc</div>
          <div class="home--news__dateAndAuthor">
            <div>23/10/2003</div>
            <div class='dot'></div>
            <div>duc</div>
          </div>
        </div>
        <h2 class="home--news__item--title">duc</h2>
      </div>
    </div>
    <div class="home--news__item-container">
      <!-- <div class="home--news__item-overlay"></div> -->
      <img class="home--news__image" src="../../../assets/1.png" alt="asd" />
      <div class="home--news__detail-wrapper">
        <div class="home--news__detail">
          <div class="home--news__category">duc</div>
          <div class="home--news__dateAndAuthor">
            <div>23/10/2003</div>
            <div class='dot'></div>
            <div>duc</div>
          </div>
        </div>
        <h2 class="home--news__item--title">duc</h2>
      </div>
    </div>
  </div>

</section>