<section class="home--banner">
  <div class="home--container__text">
    <h1>Monkey Blogging</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
      eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
      minim veniam, quis nostrud exercitation ullamco laboris nisi.
    </p>
    <button>Get Start</button>
  </div>
  <img src="../../../assets/Illustration 2.png" alt="asd" />
</section>
<section class="home--news">
  <div class='home--news__text-container'>
    <h1>
      Newest update
    </h1>
  </div>
  <div class="home--news__items-container">
    <app-card-item *ngFor="let item of blog;" [author]="item.author" [category]="item.category" [title]="item.title" [image]="item.image" [description]="item.description" [id]="item.id"></app-card-item>
  </div>

</section>