.home--banner {
  padding: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(to right, #00b4aa, #a4d96c);
  height: 520px;
  border-radius: 8px;
  .home--container__text {
    display: flex;
    flex-direction: column;
    gap: 28px;
    max-width: 420px;
    h1 {
      color: white;
      font-size: 35px;
      font-weight: 700;
    }
    p {
      color: white;
      font-size: 16px;
      line-height: 1rem;
    }
    button {
      width: 230px;
      height: 59px;
      color: #23bb86;
      border-radius: 8px;
      background: white;
      outline: none;
      border: none;
    }
  }
}
.home--news {
  margin-top: 60px;
  .home--news__text-container {
    position: relative;
    margin-bottom: 40px;
    h1 {
      color: #3a1097;
      font-size: 24px;
      font-weight: 600;
      &::before {
        content: "";
        position: absolute;
        top: -4px;
        width: 50px;
        height: 3px;
        background-color: #00d1ed;
      }
    }
  }
  .home--news__items-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    gap: 40px 10px;
    margin-bottom: 40px;
  }
}
