<div class="detail--container">
  <div class="detail--heading">
    <img class="image" src="../../../assets/1.png" alt="" />
    <div class="description">
      <div class="category">{{blog.category.name}}</div>
      <h2 class="title">{{blog.title}}</h2>
      <div class="dateAndAuthor-container">
        <div class="dateAndAuthor">
          <div>23/10/2003</div>
          <div class="dot"></div>
          <div>{{blog.author}}</div>
        </div>
        <div>100 view</div>
      </div>
    </div>
  </div>
</div>
<div [innerHTML]="blog.description" class="main-content">
</div>